@font-face {
  font-family: Monteserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MonteserratBold;
  src: url(../fonts/MontserratBold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.ttf);
}

/* line 18, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
body {
  margin: 0;
}

/* line 21, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  display: block;
}

@media screen and (max-width: 769px) {
  /* line 21, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  #container {
    width: 768px;
  }
}

@media screen and (max-width: 320px) {
  /* line 21, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  #container {
    max-width: 320px;
  }
}

/* line 39, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header {
  background: url(../images/vector_smart_object_8.png);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 0px black);
}

@media screen and (max-width: 768px) {
  /* line 39, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header {
    width: 768px;
  }
}

@media screen and (max-width: 320px) {
  /* line 39, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header {
    background-size: cover;
    width: 320px;
    background-position: center;
    height: 540px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 0px black);
  }
}

/* line 60, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_nav {
  height: 38px;
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 38px;
  line-height: 47px;
}

@media screen and (max-width: 768px) {
  /* line 60, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header_nav {
    width: 768px;
    width: 670px;
  }
}

@media screen and (max-width: 320px) {
  /* line 60, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header_nav {
    max-width: 320px;
    width: 320px;
    padding-top: 18px;
  }
}

/* line 76, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_nav .logo {
  display: block;
}

@media screen and (max-width: 320px) {
  /* line 76, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header_nav .logo {
    display: block;
    position: absolute;
    top: 30%;
    left: 27%;
  }
}

/* line 87, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_nav .logo a {
  font-family: Montserrat;
  font-size: 21px;
  line-height: 21px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  /* line 87, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header_nav .logo a {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}

/* line 108, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_login {
  display: flex;
  justify-content: space-between;
  width: 155px;
}

@media screen and (max-width: 320px) {
  /* line 108, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .header_login {
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

/* line 117, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_login a {
  text-align: center;
  text-decoration: none;
}

/* line 124, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_login__logIn {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 38px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1px;
}

/* line 133, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.header_login__signUp {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 34px;
  font-weight: 900;
  color: #ffffff;
  border: 2px solid;
  border-radius: 18px;
  width: 86px;
  height: 34px;
  letter-spacing: 1px;
}

/* line 147, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content {
  display: block;
  margin: 141px auto;
  width: 480px;
  text-align: center;
}

@media screen and (max-width: 320px) {
  /* line 147, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    margin: 165px auto;
  }
}

/* line 162, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content h2 {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 53px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 320px) {
  /* line 162, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content h2 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
}

/* line 177, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content h3 {
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  margin: 25px 0 35px 0;
}

@media screen and (max-width: 320px) {
  /* line 177, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content h3 {
    width: 70%;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    margin: 15px auto 17px auto;
  }
}

/* line 195, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content a {
  letter-spacing: 0.5px;
  justify-content: center;
  display: flex;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  width: 225px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 20px;
  margin: 0 auto;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  /* line 195, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content a {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    width: 280px;
    height: 40px;
    text-decoration: none;
    align-items: center;
  }
}

/* line 224, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-step {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}

@media screen and (max-width: 320px) {
  /* line 224, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-step {
    margin-top: 35px;
  }
}

/* line 232, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-step_h2 {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: 600;
  color: #333333;
  text-align: center;
}

/* line 243, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-images {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

@media screen and (max-width: 320px) {
  /* line 243, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-images {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
}

/* line 254, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content_img {
  width: 300px;
  height: 400px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 4px;
  margin: 5px 0;
}

@media screen and (max-width: 320px) {
  /* line 254, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content_img {
    padding: 0;
    margin-bottom: 10px;
  }
}

/* line 265, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
  padding: 0 20px 0px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  /* line 265, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step {
    padding: 0 20px 0;
    margin-bottom: 10px;
    margin-top: 0;
  }
}

/* line 280, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step a {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 15px;
  width: 70px;
  height: 20px;
  background-color: #ff4e50;
  border-radius: 10px;
  margin-bottom: 19px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  /* line 280, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step a {
    margin-bottom: 5px;
  }
}

/* line 301, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step h3 {
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.9px;
}

/* line 310, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #cccccc;
  margin-bottom: 14px;
}

@media screen and (max-width: 320px) {
  /* line 310, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step p {
    margin-bottom: 5px;
  }
}

/* line 324, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step_1 {
  background-image: url(../images/rectangle_4_24.png);
}

@media screen and (max-width: 768px) {
  /* line 324, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_1 {
    width: 236px;
    height: 401px;
  }
}

@media screen and (max-width: 320px) {
  /* line 324, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_1 {
    width: 300px;
    height: 240px;
  }
}

/* line 336, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step_2 {
  background-image: url(../images/rectangle_4_40.png);
}

@media screen and (max-width: 768px) {
  /* line 336, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_2 {
    width: 236px;
    height: 401px;
  }
}

@media screen and (max-width: 320px) {
  /* line 336, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_2 {
    width: 300px;
    height: 240px;
  }
}

/* line 348, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.step_3 {
  background-image: url(../images/rectangle_4_49.png);
}

@media screen and (max-width: 768px) {
  /* line 348, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_3 {
    width: 236px;
    height: 401px;
  }
}

@media screen and (max-width: 320px) {
  /* line 348, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .step_3 {
    width: 300px;
    height: 240px;
  }
}

/* line 360, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-partner {
  margin-top: 98px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* line 365, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-partner h2 {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0.7px;
}

@media screen and (max-width: 320px) {
  /* line 365, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-partner h2 {
    padding: 0;
    margin: 16px auto 10px;
    max-width: 270px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  /* line 360, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-partner {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  /* line 360, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-partner {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

/* line 390, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-line {
  display: flex;
  width: 840px;
  align-items: baseline;
  justify-content: space-between;
  margin: 35px auto 29px;
}

@media screen and (max-width: 768px) {
  /* line 390, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-line {
    max-width: 510px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 35px auto 45px;
  }
}

@media screen and (max-width: 320px) {
  /* line 390, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-line {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 3px auto;
  }
  /* line 410, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-line .partner:nth-child(2) {
    order: 1;
  }
  /* line 414, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-line .partner:nth-child(4) {
    order: 4;
  }
}

/* line 422, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.partner {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 14%;
}

@media screen and (max-width: 768px) {
  /* line 422, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .partner {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  /* line 422, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .partner {
    max-width: 320px;
    width: 100%;
    margin-bottom: 15px;
  }
}

/* line 444, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.partner .after {
  height: 120px;
}

/* line 447, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.partner .after1::after {
  content: url("../images/ellipse_2_71.png");
  display: block;
  position: relative;
  left: 87px;
  top: -38px;
  width: 40px;
  height: 40px;
}

/* line 457, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.partner .icon1::after {
  content: url(../images/shape_128_77.png);
  display: block;
  position: relative;
  right: 5px;
  top: -27px;
  width: 16px;
  text-align: center;
  height: 16px;
  z-index: 1;
  float: right;
}

/* line 470, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.after2::after {
  content: url("../images/ellipse_2_83.png");
  display: block;
  position: relative;
  left: 87px;
  top: -38px;
  width: 40px;
  height: 40px;
}

/* line 480, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.icon2::after {
  content: url(../images/shape_153_106.png);
  display: block;
  position: relative;
  right: 5px;
  top: -29px;
  width: 16px;
  text-align: center;
  height: 16px;
  z-index: 1;
  float: right;
}

/* line 493, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.after3::after {
  content: url("../images/ellipse_2_91.png");
  display: block;
  position: relative;
  left: 87px;
  top: -38px;
  width: 40px;
  height: 40px;
}

/* line 502, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.icon3::after {
  content: url(../images/shape_155_108.png);
  display: block;
  position: relative;
  right: 5px;
  top: -27px;
  width: 16px;
  text-align: center;
  height: 16px;
  z-index: 1;
  float: right;
}

/* line 514, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.after4::after {
  content: url("../images/ellipse_2_99.png");
  display: block;
  position: relative;
  left: 87px;
  top: -38px;
  width: 40px;
  height: 40px;
}

/* line 523, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.icon4::after {
  content: url(../images/shape_170_110.png);
  display: block;
  position: relative;
  right: 7px;
  top: -27px;
  width: 16px;
  text-align: center;
  height: 16px;
  z-index: 1;
  float: right;
}

/* line 535, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
img {
  width: 120px;
  height: 120px;
}

/* line 539, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
h4 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  margin-bottom: 4px;
}

/* line 547, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #666666;
  width: 220px;
}

/* line 556, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.parther-btn {
  display: flex;
  justify-content: center;
}

/* line 559, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.parther-btn a {
  text-decoration: none;
  font-family: Montserrat,sans-serif;
  letter-spacing: 0.1px;
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  color: #ff4e50;
  width: 190px;
  height: 36px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  border-radius: 20px;
}

@media screen and (max-width: 320px) {
  /* line 559, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .parther-btn a {
    width: 280px;
    height: 36px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    border-radius: 20px;
  }
}

/* line 588, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-discover {
  margin: 85px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 960px;
}

/* line 595, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-discover h2 {
  margin: 14px 0 30px 0;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: #333333;
  letter-spacing: 1.7px;
}

@media screen and (max-width: 768px) {
  /* line 595, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-discover h2 {
    margin: 14px 0 25px 0;
  }
}

@media screen and (max-width: 320px) {
  /* line 595, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-discover h2 {
    max-width: 320px;
    margin: 20px 0 18px 0;
  }
}

@media screen and (max-width: 768px) {
  /* line 588, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-discover {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  /* line 588, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-discover {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
  }
}

/* line 619, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.img-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* line 624, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.img-block p {
  position: absolute;
  font-family: Montserrat;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  color: #fff;
  align-self: center;
  letter-spacing: 1.5px;
  width: 100%;
}

/* line 637, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-img {
  position: relative;
  display: flex;
  margin: 10px;
  justify-content: center;
  border-radius: 4px;
}

@media screen and (max-width: 320px) {
  /* line 637, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-img {
    width: 100%;
    margin: 0px 0px 10px 0;
  }
}

/* line 649, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.img_small img {
  width: 300px;
  height: 310px;
}

@media screen and (max-width: 768px) {
  /* line 649, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .img_small img {
    width: 236px;
    height: 311px;
  }
}

@media screen and (max-width: 320px) {
  /* line 649, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .img_small img {
    width: 300px;
    height: 120px;
    background-color: #333333;
    border-radius: 4px;
  }
}

/* line 666, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.img_big img {
  width: 620px;
  height: 310px;
}

@media screen and (max-width: 768px) {
  /* line 666, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .img_big img {
    width: 492px;
    height: 311px;
  }
}

@media screen and (max-width: 320px) {
  /* line 666, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .img_big img {
    max-width: 320px;
    width: 300px;
    height: 121px;
    background-color: #333333;
    border-radius: 4px;
  }
}

/* line 683, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* line 688, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input h2 {
  font-family: Montserrat, sans-serif;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

/* line 697, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input h4 {
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  /* line 697, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-input h4 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  /* line 697, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-input h4 {
    margin-top: 13px;
  }
}

/* line 712, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input form {
  width: 410px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 30px auto  0;
}

@media screen and (max-width: 320px) {
  /* line 712, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-input form {
    flex-direction: column;
    margin: 15px auto  0;
    width: 100%;
    height: 100px;
  }
}

/* line 729, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input form input[type="text"] {
  margin-right: 10px;
  width: 240px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 0px 0px #eeeeee;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #999999;
  padding-left: 16px;
}

@media screen and (max-width: 320px) {
  /* line 729, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-input form input[type="text"] {
    text-align: center;
    flex-direction: column;
    width: 280px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 0px 0px #eeeeee;
    border-radius: 4px;
  }
}

/* line 755, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.content-input form input[type="button"] {
  width: 160px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 320px) {
  /* line 755, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .content-input form input[type="button"] {
    text-align: center;
    flex-direction: column;
    width: 280px;
    height: 40px;
    background-color: #ff4e50;
    border-radius: 20px;
    padding: 0;
    align-items: center;
    align-self: center;
    line-height: 40px;
  }
}

/* line 783, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 100px;
}

@media screen and (max-width: 320px) {
  /* line 783, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .footer {
    max-width: 320px;
    margin-top: 40px;
  }
}

/* line 797, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.footer_content {
  border-top: 4px solid #ff4e50;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-top: 22px;
  flex-direction: row;
}

@media screen and (max-width: 320px) {
  /* line 797, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .footer_content {
    flex-direction: column;
    text-align: center;
  }
}

/* line 811, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.logo_footer {
  display: block;
  margin-left: 17.3%;
}

@media screen and (max-width: 768px) {
  /* line 811, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .logo_footer {
    margin-left: 5%;
  }
}

@media screen and (max-width: 320px) {
  /* line 811, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .logo_footer {
    max-width: 320px;
    margin: 0;
  }
}

/* line 820, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.logo_footer h3 {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ff4e50;
  margin-bottom: 9px;
}

@media screen and (max-width: 320px) {
  /* line 820, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .logo_footer h3 {
    max-width: 320px;
    margin-bottom: 18px;
  }
}

/* line 834, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.company {
  display: block;
  margin-left: 8%;
}

@media screen and (max-width: 768px) {
  /* line 834, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .company {
    margin-left: 14%;
  }
}

@media screen and (max-width: 320px) {
  /* line 834, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .company {
    margin: 0;
  }
}

/* line 844, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.company ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 320px) {
  /* line 844, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .company ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

/* line 857, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.company ul li {
  list-style-type: none;
  padding-left: 0;
}

/* line 860, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.company ul li a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #666666;
}

/* line 872, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.head_h3 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

@media screen and (max-width: 320px) {
  /* line 872, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .head_h3 {
    margin: 0;
  }
}

/* line 882, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.partners {
  display: block;
  margin-left: 12.75%;
}

@media screen and (max-width: 768px) {
  /* line 882, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .partners {
    margin-left: 14.5%;
  }
}

@media screen and (max-width: 320px) {
  /* line 882, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .partners {
    max-width: 320px;
    margin: 17px 0;
  }
}

/* line 894, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.designer {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 21%;
  text-align: right;
  margin-left: 14.5%;
}

@media screen and (max-width: 768px) {
  /* line 894, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .designer {
    margin-left: 16.4%;
  }
}

@media screen and (max-width: 320px) {
  /* line 894, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
  .designer {
    max-width: 320px;
    margin: 0;
    align-items: center;
  }
}

/* line 908, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.designer h3 {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #cccccc;
  margin-top: 15px;
  margin-bottom: 9px;
}

/* line 919, D:/Downloads/OSPanel/domains/localhost/testwork/scss/style.scss */
.designer img {
  width: 110px;
  height: 24px;
}

/*# sourceMappingURL=style.css.map */